// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
	font-family: 'Raleway', sans-serif;
	height:1000px;
	background-image: image-url("mortcalc-background.jpg");
	background-size:cover;
}

html {
	font-family: 'Raleway', sans-serif;
}

.body-background{
	margin-top:60px;
	padding:40px;
	background-color:rgba(0, 0, 0, 0.400);
}

.title-new{
	color:white;
	font-weight:bold;
	text-align:center;
	font-size:28px;
	padding:20px;
}